*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    background-color: #181822FF;
    /* width: 100vw; */
    color:white;

}

@media screen and (max-width: 980px) {
    .container{
        display: flex;
        flex-direction: column;
        /* height */
    }
}