.App {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100%;
  /* background-color: red; */
}
.chat-container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 100%;
  gap: 1rem;
  justify-content: left;
  /* padding-left: 1rem; */
  /* text-align: left; */
  /* margin-left: 5rem; */
  /* align-items: stretch; */
  padding: 2rem;
  font-size: 1rem;
  color: wheat;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* overflow-y: hidden; */
  /* overflow-wrap: normal; */
}
.chat-input {
  position: fixed;
  bottom: 3%;
  left: 20%;
  /* top: 100%; */
  z-index: 1;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 50px;
  background-color: transparent;
  gap: 1rem;
  /* border-radius: ; */
}
.chat-input > input {
  width: 50vw;
  border-radius: 5rem;
  /* outline: none; */
  border: none;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  background-color: #262431ff;
  flex: 1;
}
button {
  width: fit-content;
  height: fit-content;
  background-color: #262431ff;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 1rem;
}
button:hover {
  cursor: pointer;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
